// Add your own CSS here!
:root {
  --light: #ffffff;
  --dark: #000000;
  --secondary: #6e87b6;
  --tertiary: rgb(55 53 47 / 70%);
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #000000;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
}

[saved-theme="dark"] {
  --light: #232326 !important;
  --dark: #e6e6e6 !important;
  --secondary: #90b0ec !important;
  --visited: #4a575e !important;
  --tertiary: #6b879a !important;
  --primary: #f58382 !important;
  --gray: #ffffff !important;
  --lightgray: #f0f0f0 !important;
  --outlinegray: #343434 !important;
}